## 자동차 연비 분석, 회귀분석 모델 + 산점도 이용해보기 
### 자동차 연비 데이터 가져오기
#### 공식 사이트 : https://archive.ics.uci.edu/
#### 검색어 : auto

In [4]:
# auto-mpg.csv 를 읽어서 확인해보기 
import numpy as np
import pandas as pd

data_df = pd.read_csv("./auto-mpg.csv", header= 0 , engine="python")
print(f"data_df 의 크기 : {data_df.shape}")
data_df.head()

data_df 의 크기 : (398, 9)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,orgin,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [6]:
# 특정 컬럼 제외하기 horsepower, origin , car_name
data_df  = data_df.drop(["horsepower", "orgin", "car_name"], axis = 1, inplace = False)
data_df.head()

    mpg  cylinders  displacement  weight  acceleration  model_year
0  18.0          8         307.0    3504          12.0          70
1  15.0          8         350.0    3693          11.5          70
2  18.0          8         318.0    3436          11.0          70
3  16.0          8         304.0    3433          12.0          70
4  17.0          8         302.0    3449          10.5          70

In [7]:
# 기본 컬럼 조사, info()
data_df.info()

# 전부 non-null -> 전처리 다 되어 있음

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   weight        398 non-null    int64
 4   acceleration  398 non-null    float64
 5   model_year    398 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 18.8 KB

In [ ]:
# 선형 회귀 분헉 모델을 이용해서 -> 자동차 연비가, 어느 feature(독립변수, x)의 영향을 받는지 조사